// Default Theme Color Palette

// Red
$red-light: #F9B1B1;
$red-dark: #F29395;

// Pink
$pink-light: #F29395;
$pink-dark: #A36060;

// Purple
$purple-light: #E0C0F1;
$purple-dark: #BBA0CA;

// Blue
$blue-light: #AEB9FF;
$blue-dark: #788BFF;

// Teal
$teal-light: #B8EFEE;
$teal-dark: #A2E8E8;

// Green
$green-light: #D5FFD5;
$green-dark: #B4ED84;
$sea-light: #A2E8E8;
$sea-dark: #77A3A2;

// Yellow
$yellow-light: #EFE8B8;
$yellow-dark: #EAF293;

// Orange
$orange-light: #EAF293;
$orange-dark: #DAA520;

// Grey
$grey-050: #f5f7ff;
$grey-100: #e6e8f0;
$grey-150: #d7dae1;
$grey-200: #c9ccd2;
$grey-250: #babec4;
$grey-300: #acb0b6;
$grey-350: #9ea2a8;
$grey-400: #90949a;
$grey-450: #83878c;
$grey-500: #767a7f;
$grey-550: #696d71;
$grey-600: #5c6164;
$grey-650: #505458;
$grey-700: #44484b;
$grey-750: #393d3f;
$grey-800: #2d3134;
$grey-850: #232628;
$grey-900: #181c1e;
$grey-950: #0c1113;

// White
$white: #F3F5FF;

// Black
$black: #0B1012;

// Windows Button
$button-close: #A36060;
$button-max: #6F77AC;
$button-min: #9A7AAB;
